# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
frontend/dist/
npm-debug.log*

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
